USE [FUCourseManagementSystemDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](30) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[Credits] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DepartmentID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSection]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSection](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassCode] [nvarchar](50) NOT NULL,
	[CourseID] [int] NOT NULL,
	[LecturerID] [int] NOT NULL,
	[Semester] [nvarchar](20) NOT NULL,
	[Room] [nvarchar](50) NULL,
	[Slot] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[MaxStudents] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[EnrolledDate] [datetime] NOT NULL,
	[EnrollmentStatus] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CourseEnrollmentSummary]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================
-- 5. CREATE VIEWS FOR REPORTING
-- =========================================================

-- 5.1. Course enrollment summary
CREATE VIEW [dbo].[vw_CourseEnrollmentSummary]
AS
SELECT
    c.CourseID,
    c.CourseCode,
    c.CourseName,
    d.DepartmentName,
    cs.Semester,
    COUNT(e.EnrollmentID) AS TotalEnrollments,
    SUM(CASE WHEN e.EnrollmentStatus = N'Approved' THEN 1 ELSE 0 END) AS ApprovedEnrollments,
    SUM(CASE WHEN e.EnrollmentStatus = N'Pending' THEN 1 ELSE 0 END) AS PendingEnrollments,
    SUM(CASE WHEN e.EnrollmentStatus = N'Rejected' THEN 1 ELSE 0 END) AS RejectedEnrollments,
    SUM(CASE WHEN e.EnrollmentStatus = N'Cancelled' THEN 1 ELSE 0 END) AS CancelledEnrollments
FROM Course c
INNER JOIN Department d ON c.DepartmentID = d.DepartmentID
INNER JOIN ClassSection cs ON c.CourseID = cs.CourseID
LEFT JOIN Enrollment e ON cs.ClassID = e.ClassID
GROUP BY
    c.CourseID,
    c.CourseCode,
    c.CourseName,
    d.DepartmentName,
    cs.Semester;

GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[LecturerID] [int] IDENTITY(1,1) NOT NULL,
	[LecturerName] [nvarchar](150) NOT NULL,
	[LecturerEmail] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[DepartmentID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LecturerTeachingHistory]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5.2. Lecturer teaching history
CREATE VIEW [dbo].[vw_LecturerTeachingHistory]
AS
SELECT
    l.LecturerID,
    l.LecturerName,
    l.LecturerEmail,
    d.DepartmentName,
    c.CourseCode,
    c.CourseName,
    cs.ClassCode,
    cs.Semester,
    cs.Room,
    cs.Slot,
    cs.StartDate,
    cs.EndDate,
    COUNT(e.EnrollmentID) AS TotalStudents
FROM Lecturer l
INNER JOIN Department d ON l.DepartmentID = d.DepartmentID
INNER JOIN ClassSection cs ON l.LecturerID = cs.LecturerID
INNER JOIN Course c ON cs.CourseID = c.CourseID
LEFT JOIN Enrollment e
    ON cs.ClassID = e.ClassID
    AND e.EnrollmentStatus = N'Approved'
GROUP BY
    l.LecturerID,
    l.LecturerName,
    l.LecturerEmail,
    d.DepartmentName,
    c.CourseCode,
    c.CourseName,
    cs.ClassCode,
    cs.Semester,
    cs.Room,
    cs.Slot,
    cs.StartDate,
    cs.EndDate;

GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [nvarchar](30) NOT NULL,
	[StudentName] [nvarchar](150) NOT NULL,
	[StudentEmail] [nvarchar](150) NOT NULL,
	[Major] [nvarchar](100) NULL,
	[AccountID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAccount]    Script Date: 5/28/2026 7:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](150) NOT NULL,
	[AccountEmail] [nvarchar](150) NOT NULL,
	[AccountRole] [int] NOT NULL,
	[AccountPassword] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassSection] ON 

INSERT [dbo].[ClassSection] ([ClassID], [ClassCode], [CourseID], [LecturerID], [Semester], [Room], [Slot], [StartDate], [EndDate], [MaxStudents], [IsActive]) VALUES (1, N'SE18A01', 1, 1, N'SP26', N'G201', 1, CAST(N'2026-01-05' AS Date), CAST(N'2026-04-20' AS Date), 30, 1)
INSERT [dbo].[ClassSection] ([ClassID], [ClassCode], [CourseID], [LecturerID], [Semester], [Room], [Slot], [StartDate], [EndDate], [MaxStudents], [IsActive]) VALUES (2, N'SE18A02', 2, 1, N'SP26', N'G202', 2, CAST(N'2026-01-05' AS Date), CAST(N'2026-04-20' AS Date), 25, 1)
INSERT [dbo].[ClassSection] ([ClassID], [ClassCode], [CourseID], [LecturerID], [Semester], [Room], [Slot], [StartDate], [EndDate], [MaxStudents], [IsActive]) VALUES (3, N'SE18A03', 3, 2, N'SU26', N'G203', 3, CAST(N'2026-05-05' AS Date), CAST(N'2026-08-20' AS Date), 30, 1)
SET IDENTITY_INSERT [dbo].[ClassSection] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CourseCode], [CourseName], [Credits], [Description], [DepartmentID], [IsActive]) VALUES (1, N'PRN232', N'Building ASP.NET Core Web API and Web Application', 3, N'Học phần xây dựng Web API và Web Application bằng ASP.NET Core.', 1, 1)
INSERT [dbo].[Course] ([CourseID], [CourseCode], [CourseName], [Credits], [Description], [DepartmentID], [IsActive]) VALUES (2, N'SWP391', N'Software Development Project', 5, N'Học phần dự án phát triển phần mềm theo nhóm.', 1, 1)
INSERT [dbo].[Course] ([CourseID], [CourseCode], [CourseName], [Credits], [Description], [DepartmentID], [IsActive]) VALUES (3, N'SWR302', N'Software Requirements', 3, N'Học phần phân tích và đặc tả yêu cầu phần mềm.', 1, 1)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DepartmentCode], [Description], [IsActive]) VALUES (1, N'Software Engineering', N'SE', N'Bộ môn Kỹ thuật Phần mềm', 1)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DepartmentCode], [Description], [IsActive]) VALUES (2, N'Artificial Intelligence', N'AI', N'Bộ môn Trí tuệ Nhân tạo', 1)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DepartmentCode], [Description], [IsActive]) VALUES (3, N'Information Security', N'IA', N'Bộ môn An toàn Thông tin', 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [ClassID], [EnrolledDate], [EnrollmentStatus], [Note]) VALUES (1, 1, 1, CAST(N'2026-05-28T07:46:15.463' AS DateTime), N'Approved', N'Enrollment approved.')
INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [ClassID], [EnrolledDate], [EnrollmentStatus], [Note]) VALUES (2, 1, 2, CAST(N'2026-05-28T07:46:15.463' AS DateTime), N'Pending', N'Waiting for approval.')
INSERT [dbo].[Enrollment] ([EnrollmentID], [StudentID], [ClassID], [EnrolledDate], [EnrollmentStatus], [Note]) VALUES (3, 2, 1, CAST(N'2026-05-28T07:46:15.463' AS DateTime), N'Approved', N'Enrollment approved.')
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturer] ON 

INSERT [dbo].[Lecturer] ([LecturerID], [LecturerName], [LecturerEmail], [PhoneNumber], [DepartmentID], [AccountID], [IsActive]) VALUES (1, N'Nguyễn Văn An', N'annv@fpt.edu.vn', N'0905000001', 1, 1, 1)
INSERT [dbo].[Lecturer] ([LecturerID], [LecturerName], [LecturerEmail], [PhoneNumber], [DepartmentID], [AccountID], [IsActive]) VALUES (2, N'Trần Thị Liên', N'lientt@fpt.edu.vn', N'0905000002', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Lecturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [StudentCode], [StudentName], [StudentEmail], [Major], [AccountID], [IsActive]) VALUES (1, N'SE180001', N'Lê Văn Thiện', N'thienlv@fpt.edu.vn', N'Software Engineering', 3, 1)
INSERT [dbo].[Student] ([StudentID], [StudentCode], [StudentName], [StudentEmail], [Major], [AccountID], [IsActive]) VALUES (2, N'SE180002', N'Phạm Thị Dung', N'dungpt@fpt.edu.vn', N'Software Engineering', 4, 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemAccount] ON 

INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword], [IsActive]) VALUES (1, N'Nguyễn Văn An', N'annv@fpt.edu.vn', 1, N'123456', 1)
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword], [IsActive]) VALUES (2, N'Trần Thị Liên', N'lientt@fpt.edu.vn', 1, N'123456', 1)
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword], [IsActive]) VALUES (3, N'Lê Văn Thiện', N'thienlv@fpt.edu.vn', 2, N'123456', 1)
SET IDENTITY_INSERT [dbo].[SystemAccount] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ClassSection_Class_Semester]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[ClassSection] ADD  CONSTRAINT [UQ_ClassSection_Class_Semester] UNIQUE NONCLUSTERED 
(
	[ClassCode] ASC,
	[Semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Course__FC00E000F19FD796]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Course] ADD UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__6EA8896DC97DAEE9]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Department] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Enrollment_Student_Class]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [UQ_Enrollment_Student_Class] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lecturer__15C3E5A6AC0D1655]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Lecturer] ADD UNIQUE NONCLUSTERED 
(
	[LecturerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Lecturer__349DA58760007917]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Lecturer] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__1FC8860475CFCC41]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Student__349DA587F64EEF90]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__3569CFDBDAE81B3C]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[StudentEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemAc__FC770D335B1FE32A]    Script Date: 5/28/2026 7:50:03 AM ******/
ALTER TABLE [dbo].[SystemAccount] ADD UNIQUE NONCLUSTERED 
(
	[AccountEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClassSection] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Course] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [EnrolledDate]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (N'Pending') FOR [EnrollmentStatus]
GO
ALTER TABLE [dbo].[Lecturer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemAccount] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [FK_ClassSection_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [FK_ClassSection_Course]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [FK_ClassSection_Lecturer] FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturer] ([LecturerID])
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [FK_ClassSection_Lecturer]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Department]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_ClassSection] FOREIGN KEY([ClassID])
REFERENCES [dbo].[ClassSection] ([ClassID])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_ClassSection]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD  CONSTRAINT [FK_Lecturer_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Lecturer] CHECK CONSTRAINT [FK_Lecturer_Department]
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD  CONSTRAINT [FK_Lecturer_SystemAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[SystemAccount] ([AccountID])
GO
ALTER TABLE [dbo].[Lecturer] CHECK CONSTRAINT [FK_Lecturer_SystemAccount]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_SystemAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[SystemAccount] ([AccountID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_SystemAccount]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [CK_ClassSection_Date] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [CK_ClassSection_Date]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [CK_ClassSection_MaxStudents] CHECK  (([MaxStudents]>(0)))
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [CK_ClassSection_MaxStudents]
GO
ALTER TABLE [dbo].[ClassSection]  WITH CHECK ADD  CONSTRAINT [CK_ClassSection_Slot] CHECK  (([Slot] IS NULL OR [Slot]>=(1) AND [Slot]<=(6)))
GO
ALTER TABLE [dbo].[ClassSection] CHECK CONSTRAINT [CK_ClassSection_Slot]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [CK_Course_Credits] CHECK  (([Credits]>(0)))
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [CK_Course_Credits]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [CK_Enrollment_Status] CHECK  (([EnrollmentStatus]=N'Cancelled' OR [EnrollmentStatus]=N'Rejected' OR [EnrollmentStatus]=N'Approved' OR [EnrollmentStatus]=N'Pending'))
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [CK_Enrollment_Status]
GO
ALTER TABLE [dbo].[SystemAccount]  WITH CHECK ADD  CONSTRAINT [CK_SystemAccount_Role] CHECK  (([AccountRole]=(3) OR [AccountRole]=(2) OR [AccountRole]=(1)))
GO
ALTER TABLE [dbo].[SystemAccount] CHECK CONSTRAINT [CK_SystemAccount_Role]
GO
