USE [FPTGearDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/21/2025 8:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 10/21/2025 8:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[EquipmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[PricePerDay] [decimal](10, 2) NOT NULL,
	[DepositFee] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Equipments] PRIMARY KEY CLUSTERED 
(
	[EquipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 10/21/2025 8:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[RentalId] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[FineAmount] [decimal](10, 2) NOT NULL,
	[RentalDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Rentals] PRIMARY KEY CLUSTERED 
(
	[RentalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/21/2025 8:13:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251020102843_Init', N'8.0.7')
GO
SET IDENTITY_INSERT [dbo].[Equipments] ON 

INSERT [dbo].[Equipments] ([EquipmentId], [Name], [Category], [PricePerDay], [DepositFee], [StockQuantity], [CreatedAt], [UserId]) VALUES (1, N'Canon EOS R6', N'Camera', CAST(25.50 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 3, CAST(N'2025-10-10T22:40:45.8733333' AS DateTime2), 1)
INSERT [dbo].[Equipments] ([EquipmentId], [Name], [Category], [PricePerDay], [DepositFee], [StockQuantity], [CreatedAt], [UserId]) VALUES (2, N'DJI Mavic Air 2', N'Drone', CAST(30.00 AS Decimal(10, 2)), CAST(120.00 AS Decimal(10, 2)), 5, CAST(N'2025-10-12T22:40:45.8733333' AS DateTime2), 1)
INSERT [dbo].[Equipments] ([EquipmentId], [Name], [Category], [PricePerDay], [DepositFee], [StockQuantity], [CreatedAt], [UserId]) VALUES (3, N'MacBook Pro 16', N'Laptop', CAST(40.00 AS Decimal(10, 2)), CAST(150.00 AS Decimal(10, 2)), 2, CAST(N'2025-10-13T22:40:45.8733333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Equipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([RentalId], [EquipmentId], [UserId], [Quantity], [StartDate], [EndDate], [Status], [FineAmount], [RentalDate]) VALUES (8, 1, 2, 1, CAST(N'2025-10-13T22:40:45.8900000' AS DateTime2), CAST(N'2025-10-15T22:40:45.8900000' AS DateTime2), N'Completed', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-10-13T22:40:45.8900000' AS DateTime2))
INSERT [dbo].[Rentals] ([RentalId], [EquipmentId], [UserId], [Quantity], [StartDate], [EndDate], [Status], [FineAmount], [RentalDate]) VALUES (9, 2, 3, 1, CAST(N'2025-10-19T22:40:45.8900000' AS DateTime2), CAST(N'2025-10-22T22:40:45.8900000' AS DateTime2), N'Ongoing', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-10-19T22:40:45.8900000' AS DateTime2))
INSERT [dbo].[Rentals] ([RentalId], [EquipmentId], [UserId], [Quantity], [StartDate], [EndDate], [Status], [FineAmount], [RentalDate]) VALUES (10, 3, 4, 1, CAST(N'2025-10-21T22:40:45.8900000' AS DateTime2), CAST(N'2025-10-24T22:40:45.8900000' AS DateTime2), N'Active', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-10-20T22:40:45.8900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [Role], [CreatedAt]) VALUES (1, N'admin@fptgear.com', N'123456', N'admin', CAST(N'2025-10-20T22:40:45.8566667' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [Password], [Role], [CreatedAt]) VALUES (2, N'alice@fptgear.com', N'123456', N'customer', CAST(N'2025-10-10T22:40:45.8566667' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [Password], [Role], [CreatedAt]) VALUES (3, N'bob@fptgear.com', N'123456', N'customer', CAST(N'2025-10-11T22:40:45.8566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_Equipments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_Equipments_Users_UserId]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Equipments_EquipmentId] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipments] ([EquipmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Equipments_EquipmentId]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Users_UserId]
GO
